Repository baptistegh/go-lakekeeper, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, go, ci, area: permission, area: storage, area: project, area: role, area: server, area: user, area: warehouse

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

go:
  - changed-files:
    - any-glob-to-any-file: '**/*.go'

ci:
  - changed-files:
    - any-glob-to-any-file: .github/**
    - any-glob-to-any-file: .golangci.yml
    - any-glob-to-any-file: codecov.yml
  # - title: ['^ci','^chore\(ci\)']

# title argument added in https://github.com/actions/labeler/pull/866
# enhancement:
#  - title: '^feat'

# bug:
#  - title: '^fix'

# breaking-change:
#  - title: '^\w+(\(\w+\))?!:'

'area: permission':
  - changed-files:
    - any-glob-to-any-file: 'pkg/apis/management/v1/permission/**'
  # - title: '^\w+\(permissions\)!?:'

'area: storage':
  - changed-files:
    - any-glob-to-any-file: 'pkg/apis/management/v1/storage/**'

'area: project':
  - changed-files:
    - any-glob-to-any-file: 'pkg/apis/management/v1/**/project*.go'
  # - title: '^\w+\(project\)!?:'

'area: role':
  - changed-files:
    - any-glob-to-any-file: 'pkg/apis/management/v1/**/role*.go'
  # - title: '^\w+\(role\)!?:'

'area: server':
  - changed-files:
    - any-glob-to-any-file: 'pkg/apis/management/v1/**/server*.go'
  # - title: '^\w+\(server\)!?:'

'area: user':
  - changed-files:
    - any-glob-to-any-file: 'pkg/apis/management/v1/**/user*.go'
  # - title: '^\w+\(user\)!?:'

'area: warehouse':
  - changed-files:
    - any-glob-to-any-file: 'pkg/apis/management/v1/**/warehouse*.go'
  # - title: '^\w+\(warehouse\)!?:'

docs: add context in readme examples
  README.md
Labels: documentation

docs: add context in readme examples (#93)
  README.md
Labels: documentation

feat(warehouse): add few missing methods
  integration/warehouse_test.go
  pkg/apis/management/v1/api.go
  pkg/apis/management/v1/testdata/get_namespace_protection.json
  pkg/apis/management/v1/testdata/list_soft_deleted_tabulars.json
  pkg/apis/management/v1/warehouse.go
  pkg/apis/management/v1/warehouse_test.go
  pkg/client/client.go
Labels: go, area: warehouse

feat(warehouse): add few missing methods (#94)
  integration/warehouse_test.go
  pkg/apis/management/v1/api.go
  pkg/apis/management/v1/testdata/get_namespace_protection.json
  pkg/apis/management/v1/testdata/list_soft_deleted_tabulars.json
  pkg/apis/management/v1/warehouse.go
  pkg/apis/management/v1/warehouse_test.go
  pkg/client/client.go
Labels: go, area: warehouse

feat(warehouse): add get statistics
  integration/warehouse_test.go
  pkg/apis/management/v1/testdata/get_warehouse_statistics.json
  pkg/apis/management/v1/warehouse.go
  pkg/apis/management/v1/warehouse_test.go
Labels: go, area: warehouse

feat(warehouse): add get statistics (#95)
  integration/warehouse_test.go
  pkg/apis/management/v1/testdata/get_warehouse_statistics.json
  pkg/apis/management/v1/warehouse.go
  pkg/apis/management/v1/warehouse_test.go
Labels: go, area: warehouse

feat(warehouse): add table and view protection methods
  integration/warehouse_test.go
  pkg/apis/management/v1/testdata/get_protection.json
  pkg/apis/management/v1/warehouse.go
  pkg/apis/management/v1/warehouse_test.go
Labels: go, area: warehouse

feat(warehouse): add table and view protection methods (#96)
  integration/warehouse_test.go
  pkg/apis/management/v1/testdata/get_protection.json
  pkg/apis/management/v1/warehouse.go
  pkg/apis/management/v1/warehouse_test.go
Labels: go, area: warehouse

chore: clean code
  pkg/apis/management/v1/api.go
  pkg/apis/management/v1/permission/project.go
  pkg/apis/management/v1/permission/project_assignment.go
  pkg/apis/management/v1/permission/role.go
  pkg/apis/management/v1/permission/role_assignment.go
  pkg/apis/management/v1/permission/server.go
  pkg/apis/management/v1/permission/server_assignment.go
  pkg/apis/management/v1/permission/warehouse.go
  pkg/apis/management/v1/permission/warehouse_assignment.go
  pkg/apis/management/v1/project.go
  pkg/apis/management/v1/role.go
  pkg/apis/management/v1/server.go
  pkg/apis/management/v1/storage/credential/az.go
  pkg/apis/management/v1/storage/credential/credential.go
  pkg/apis/management/v1/storage/credential/gcs.go
  pkg/apis/management/v1/storage/credential/s3.go
  pkg/apis/management/v1/storage/profile/adls.go
  pkg/apis/management/v1/storage/profile/delete.go
  pkg/apis/management/v1/storage/profile/gcs.go
  pkg/apis/management/v1/storage/profile/profile.go
  pkg/apis/management/v1/user.go
  pkg/apis/management/v1/warehouse.go
  pkg/core/auth.go
  pkg/core/error.go
  pkg/version/version.go
  release-please-config.json
Labels: go, area: permission, area: storage, area: project, area: role, area: server, area: user, area: warehouse

chore: clean code (#97)
  pkg/apis/management/v1/api.go
  pkg/apis/management/v1/permission/project.go
  pkg/apis/management/v1/permission/project_assignment.go
  pkg/apis/management/v1/permission/role.go
  pkg/apis/management/v1/permission/role_assignment.go
  pkg/apis/management/v1/permission/server.go
  pkg/apis/management/v1/permission/server_assignment.go
  pkg/apis/management/v1/permission/warehouse.go
  pkg/apis/management/v1/permission/warehouse_assignment.go
  pkg/apis/management/v1/project.go
  pkg/apis/management/v1/role.go
  pkg/apis/management/v1/server.go
  pkg/apis/management/v1/storage/credential/az.go
  pkg/apis/management/v1/storage/credential/credential.go
  pkg/apis/management/v1/storage/credential/gcs.go
  pkg/apis/management/v1/storage/credential/s3.go
  pkg/apis/management/v1/storage/profile/adls.go
  pkg/apis/management/v1/storage/profile/delete.go
  pkg/apis/management/v1/storage/profile/gcs.go
  pkg/apis/management/v1/storage/profile/profile.go
  pkg/apis/management/v1/user.go
  pkg/apis/management/v1/warehouse.go
  pkg/core/auth.go
  pkg/core/error.go
  pkg/version/version.go
  release-please-config.json
Labels: go, area: permission, area: storage, area: project, area: role, area: server, area: user, area: warehouse

chore(main): release 0.0.11
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation

chore(ci): fix version.go file name in release please config
  .github/workflows/release-please.yml
  release-please-config.json
Labels: ci

chore(main): release 0.0.11 (#91)
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation

chore: add status badges in README.md
  README.md
Labels: documentation

chore: add status badges in README.md (#98)
  README.md
Labels: documentation

feat(test): add client options tests
  pkg/client/client_options_test.go
Labels: go

feat(test): add client options tests (#99)
  pkg/client/client_options_test.go
Labels: go

chore(build): set go version to 1.24
  .github/workflows/integration.yml
  .github/workflows/test.yml
  README.md
Labels: documentation, ci

chore(build): set go version to 1.24 (#101)
  .github/workflows/integration.yml
  .github/workflows/test.yml
  README.md
Labels: documentation, ci

fix(warehouse): filter by status
  pkg/apis/management/v1/warehouse.go
  pkg/version/version.go
Labels: go, area: warehouse

fix(warehouse): filter by status (#102)
  pkg/apis/management/v1/warehouse.go
  pkg/version/version.go
Labels: go, area: warehouse

chore(main): release 0.0.12
  .release-please-manifest.json
  CHANGELOG.md
  pkg/version/version.go
Labels: documentation, go
