Repository baptistegh/go-lakekeeper, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, go, ci, area: permission, area: storage, area: project, area: role, area: server, area: user, area: warehouse, area: cli

chore(ci): publish container image on main branch
  .github/workflows/docker-build.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .goreleaser.yml
Labels: ci

chore(ci): publish container image on main branch (#106)
  .github/workflows/docker-build.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .goreleaser.yml
Labels: ci

chore: set up release please sections
  .github/pull-request-triage.sh
  release-please-config.json
Labels: ci

chore: set up release please sections (#107)
  .github/pull-request-triage.sh
  release-please-config.json
Labels: ci

chore(main): release 0.0.12
  .release-please-manifest.json
  CHANGELOG.md
  pkg/version/version.go
Labels: documentation, go

chore(main): release 0.0.12 (#100)
  .release-please-manifest.json
  CHANGELOG.md
  pkg/version/version.go
Labels: documentation, go

chore: fix publish container image on release
  .github/workflows/release.yml
Labels: ci

chore: fix publish container image on release (#108)
  .github/workflows/release.yml
Labels: ci

chore(main): release 0.0.13
  .release-please-manifest.json
  CHANGELOG.md
  pkg/version/version.go
Labels: documentation, go

chore(main): release 0.0.13 (#109)
  .release-please-manifest.json
  CHANGELOG.md
  pkg/version/version.go
Labels: documentation, go

chore: fix goreleaser release repo name
  .goreleaser.yml
Labels: none

chore: fix goreleaser release repo name (#110)
  .goreleaser.yml
Labels: none

chore(main): release 0.0.14
  .release-please-manifest.json
  CHANGELOG.md
  pkg/version/version.go
Labels: documentation, go

chore(main): release 0.0.14 (#111)
  .release-please-manifest.json
  CHANGELOG.md
  pkg/version/version.go
Labels: documentation, go

chore: replace nightly badge in README.md
  README.md
Labels: documentation

feat(cli): no authentication on version command
  cmd/root.go
Labels: go, area: cli

fix(cli): no authentication on version command (#113)
  cmd/root.go
Labels: go, area: cli

chore(docs): add CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Labels: documentation

chore(docs): add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: documentation

chore(docs): add CLI usage in README.md
  README.md
Labels: documentation

chore(docs): replace nightly badge in README.md (#112)
  README.md
Labels: documentation

chore(docs): add CLI usage in README.md (#114)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Labels: documentation

chore(docs): add a table of contents in README.me
  README.md
Labels: documentation

chore(docs): add a table of contents in README.me (#116)
  README.md
Labels: documentation

chore(ci): rename published binaries
  .github/workflows/test.yml
  .goreleaser.yml
  docker/bin.Dockerfile
Labels: ci

chore(ci): rename published binaries (#117)
  .github/workflows/test.yml
  .goreleaser.yml
  docker/bin.Dockerfile
Labels: ci

feat(cli): rename command project asssignments update to add
  cmd/project_assignments.go
Labels: go, area: cli

feat(cli): add role assinments add command
  cmd/role_assignments.go
Labels: go, area: cli

feat(cli): add role assignments add command
  cmd/role_assignments.go
Labels: go, area: cli

feat(cli): add role assinments add command
  cmd/role_assignments.go
Labels: go, area: cli

chore(docs): add CLI examples
  README.md
  examples/.gitignore
  examples/README.md
  examples/docker-compose-build.yaml
  examples/docker-compose.yaml
  examples/init.sh
Labels: documentation

feat(cli): rename command project asssignments update to add
  cmd/project_assignments.go
Labels: go, area: cli

feat(cli): add role assignments add command (#118)
  cmd/role_assignments.go
Labels: go, area: cli

feat(cli): rename project asssignments update command to add (#119)
  cmd/project_assignments.go
Labels: go, area: cli

add license
  examples/docker-compose-build.yaml
  examples/docker-compose.yaml
  examples/init.sh
Labels: none

chore(docs): add CLI examples (#120)
  README.md
  examples/.gitignore
  examples/README.md
  examples/docker-compose-build.yaml
  examples/docker-compose.yaml
  examples/init.sh
Labels: documentation

feat(cli): warehouse commands add/delete/list
  .dockerignore
  cmd/warehouse.go
  examples/init.sh
Labels: go, area: cli

feat(cli): warehouse commands add/delete/list (#121)
  .dockerignore
  cmd/warehouse.go
  examples/init.sh
Labels: go, area: cli

chore(ci): fix lint CLI add warehouse command
  cmd/warehouse.go
Labels: go, area: cli

chore(ci): fix lint CLI add warehouse command (#122)
  cmd/warehouse.go
Labels: go, area: cli

.github/labeler.yml:

# Copyright 2025 Baptiste Gouhoury <baptiste.gouhoury@scalend.fr>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

go:
  - changed-files:
    - any-glob-to-any-file: '**/*.go'

ci:
  - changed-files:
    - any-glob-to-any-file: .github/**
    - any-glob-to-any-file: .golangci.yml
    - any-glob-to-any-file: codecov.yml
  # - title: ['^ci','^chore\(ci\)']

# title argument added in https://github.com/actions/labeler/pull/866
# enhancement:
#  - title: '^feat'

# bug:
#  - title: '^fix'

# breaking-change:
#  - title: '^\w+(\(\w+\))?!:'

'area: permission':
  - changed-files:
    - any-glob-to-any-file: 'pkg/apis/management/v1/permission/**'
  # - title: '^\w+\(permissions\)!?:'

'area: storage':
  - changed-files:
    - any-glob-to-any-file: 'pkg/apis/management/v1/storage/**'

'area: project':
  - changed-files:
    - any-glob-to-any-file: 'pkg/apis/management/v1/**/project*.go'
  # - title: '^\w+\(project\)!?:'

'area: role':
  - changed-files:
    - any-glob-to-any-file: 'pkg/apis/management/v1/**/role*.go'
  # - title: '^\w+\(role\)!?:'

'area: server':
  - changed-files:
    - any-glob-to-any-file: 'pkg/apis/management/v1/**/server*.go'
  # - title: '^\w+\(server\)!?:'

'area: user':
  - changed-files:
    - any-glob-to-any-file: 'pkg/apis/management/v1/**/user*.go'
  # - title: '^\w+\(user\)!?:'

'area: warehouse':
  - changed-files:
    - any-glob-to-any-file: 'pkg/apis/management/v1/**/warehouse*.go'
  # - title: '^\w+\(warehouse\)!?:'

'area: cli':
  - changed-files:
    - any-glob-to-any-file: 'cmd/**'
  # - title: '^\w+\(warehouse\)!?:'
